.git
.github
__pycache__
**/__pycache__
*.pyc
*.pyo
.pytest_cache
**/.pytest_cache
Task1/generated_project/.pytest_cache
.venv
venv
env
.env
Task1/generated_project/.env
*.db
*.sqlite
*.sqlite3
*.log
StudentID-Your_Name.zip
Task2/screenshots/*.png
